<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @quest.title %>
</p>

<p>
  <b>Tip vop:</b>
  <%= @quest.tip_vop %>
</p>


<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
