<h3 class="page-header">Вопрос <%= @page %> из <%= @all_quest %>
      </h3>

<br>

<%= form_tag(:controller => :quests, :action =>:testing, :id=> @page) do %>
      <div class="pull-left container">
        <h5><%= label_tag(@quest.title) %></h5>
        <br>
<%= case @quest.tip_vop
    when 1 
  #Грузим радио
  		render :partial => 'radio', :locals => { :answer => @quest.answer }
	when 2
  #Грузим чеки
  		render :partial => 'chek', :locals => { :answer => @quest.answer }
	else
  #Грузим текста
  		render :partial => 'text'
	end %>
   <%= hidden_field_tag(:id_quest, @quest.id) %>
   <br>
      <%= render :partial => 'sidebar' %>
   <br>

   <input type="button" value="Назад" onclick="history.back()" 
   <% if @page == 1 %>disabled<% end %>>
	
   <%= if @end == false
   		submit_tag("Следующий вопрос", :name => "next")
   		else
   		submit_tag("Завершить тестирование", :name => "end", data: { confirm: 'Are you sure?' } )
   		end %>
<% end %>

<%= button_to "Пропустить", :action => :testing, :id => @page  %>
