<p id="timer"></p>

<script>
var outTimer = document.getElementById('timer'),
	dateEnd = (new Date()).setHours(<%= @time.hour %>, <%= @time.min %>, <%= @time.sec %>);

setInterval(function () {
  var diff = Math.round((dateEnd - new Date()) / 1000), // разница
	  text = '';
  
  if (diff < 0) {

	location.replace('/quests/finish/<%= @page %>');
	
  } else {
	text = Math.floor(diff / 3600) + ' час. ' +  Math.floor(diff / 60) % 60 + ' мин.'+  Math.floor(diff) % 60 + ' сек.';
  }
  
  outTimer.innerHTML = text;
  
}, 1000);
</script>




<h3 class="page-header">Вопрос <%= @page %> из <%= @all_quest %>
      </h3>

<br>

<%= form_tag(:controller => :quests, :action =>:testing, :id=> @page) do %>
      <div class="pull-left container">
        <h5><%= label_tag(@quest.title) %></h5>
        <br>
<%= case @quest.tip_vop
    when 1 
  #Грузим радио
  		render :partial => 'radio', :locals => { :answer => @quest.answers }
	when 2
  #Грузим чеки
  		render :partial => 'chek', :locals => { :answer => @quest.answers }
	else
  #Грузим текста
  		render :partial => 'text'
	end %>
   <%= hidden_field_tag(:id_quest, @quest.id) %>
   <br>
      <%= render :partial => 'sidebar' %>
   <br>

   <input type="button" value="Назад" onclick="history.back()" 
   <% if @page == 1 %>disabled<% end %>>
	
   <%= if @end == false
   		submit_tag("Следующий вопрос", :name => "next")  
   		else
   		submit_tag("Завершить тестирование", :name => "end", data: { confirm: 'Вы уверены что готовы звершить тест?' } )
   		end %>
   <%= if @end == false
   		button_to "Пропустить", :action => :testing, :id => @page  
   		else
   		end %>
<% end %>



