%p#timer
:javascript
  timer(#{@time.hour}, #{@time.min}, #{@time.sec},#{@page})
%h3.page-header
  Вопрос #{@page} из #{@all_quest}
%br/
= form_tag(:controller => :quests, :action =>:testing, :id=> @page) do
  .pull-left.container
    %h5= label_tag(@quest.title)
    %br/
    - case @quest.tip_vop                                                      
      - when 1                                                                 
        = render :partial => 'radio', :locals => { :answer => @quest.answers } 
      - when 2                                                                   
        = render :partial => 'chek', :locals => { :answer => @quest.answers }  
      - else                                                                     
        = render :partial => 'text'                                                                                                          
    = hidden_field_tag(:id_quest, @quest.id)
    %br/
    - if @end == false
      = submit_tag("Ответить", :name => "next")  
    - if @end == false
      = button_to "Пропустить", :action => :testing, :id => @page      
    = button_to "Завершить тест", { :action => :finish, :id => @page }, :confirm => "Вы уверены что готовы звершить тест?" 
