= form_tag({:action => :update, :controller => "admin/upload"}, :multipart => true) do
  = text_field_tag :quest_title, quest_title
  = file_field_tag :file
  = hidden_field_tag :quest_id, quest_id
  = submit_tag "Загрузить"