Првиетствую тебя  #{@user.l_name} #{@user.f_name}!!!
%br/
Мой юный падаван если хочешь просмотреть свои прежнии успехи, кликни сдесь #{link_to "Просотр", { :controller => :user, :action => :rezult}, :class => "btn pull-right btn-primary btn-mini"}
%h2.page-header
  Выберите нужный тест
.pull-left.container
  = render "shared/list_test"
  = will_paginate @tests