<table>
  <tr>
    <th>
        <h4>Название теста</h4>
    </th>
    <th>
        <h4>Описание теста</h4>
    </th>
    <th>
      <h4>Активность</h4>
    </th>
    <th>

    </th>
    <th>

    </th>
    <th>

    </th>
    <th>

    </th>
  </tr>
  <% @tests.each do |test| %>

      <tr>
        <td>
            <h5><%= test.title %></h5>
        </td>
        <td>
            <h5><%= test.description%> </h5>
        </td>
        <td>
            <%= test.active  %>
        </td>
        <td>
          <%= link_to "Результаты", results_admin_test_path(test) %>
        </td>
        <td>
          <%= link_to "Редактировать", edit_admin_test_path(test) %>
        </td>
        <td>
          <%= link_to "Delete", admin_test_path(test), :method => :delete %>
        </td>
        <td>
          <%= link_to "Вопросы", admin_quest_path(test) %>
        </td>
      </tr>
  <% end %>

</table>