
<%= link_to('Назад', admin_tests_path, :class => "btn pull-right") %>
<h1>Вопросы к тесту: <%= @test.title  %></h1>
<div class="table">
  <%=  render("/shared/questions_admin") %>
</div>


<p> Выбирите тип вопроса:
  <%= radio_button_tag  "quest", "radio",  :checked => true  %>
  <%= radio_button_tag  "quest", "checkbox"  %>
  <%= radio_button_tag  "quest", "hidden"    %>
  <a href="#" id="add">Добавить вопрос</a></p>| <a href="#" id="remove">Удалить</a>


    <form action="quest">
      <div class="inputs">

      </div>
      <a href="#" id="add_answer">Добавить ответ</a>
      <input name="submit" type="submit" class="submit" value="ОК">
    </form>







