
<%= link_to('Назад', admin_tests_path, :class => "btn pull-right") %>
<h1>Вопросы к тесту: <%= @test.title  %></h1>
<div class="table">
  <%=  render("/shared/questions_admin") %>
</div>

<div id="form_data">
<p> Выбирите тип вопроса:
  <%= hidden_field_tag  "quest[test_id]", @test.id  %>
  <%= radio_button_tag  "quest[tip_vop]", "1",  :checked => true  %>
  <%= radio_button_tag  "quest[tip_vop]", "2" %>
  <%= radio_button_tag  "quest[tip_vop]", "3"  %>
  <a href="#" id="add">Добавить вопрос</a> | <a href="#" id="remove">Удалить</a></p>
  <div id="form">
      <div id="quest" class="quest">

      </div>
    <div id="answers" class="answers">

    </div>

      </div>
      <a href="#" id="add_answer">Добавить ответ</a>
      <input name="submit" type="submit" class="submit" value="ОК">
</div>





