%h1{:align=>"center"} Все пользователи:
.table
  = form_tag(:action => :update_roles) do
    %table{:align=>"center"}
      %tr
        %td{:width=>"25%"}
          %h4 Email 
        %td{:width=>"25%"}
          %h4 Попытки
        %td
          %h4 Текущая роль
        %td
          %h4{:align=>"center"} Выберете роль
      - @users.each  do |user|
        %tr
          %td
            = hidden_field_tag("user[]", user.id)
            = link_to user.email, results_admin_user_path(user.id)
          %td
            = link_to "Попытки", attempt_admin_user_path(user.id), :class=>"btn btn-info btn-small"
          %td
            - roles = UsersRole.find_by_user_id(user.id)
            = roles.role.name          
          %td
            %select{:name => "role[]"}
              %option{:value => "2"} User
              <option #{if roles.role.name == "admin" then "selected" end} value = 1 >Admin
    .flickr_pagination=will_paginate @users
    %div{:align=>"center"}
      = submit_tag("Сохранить изменения")
