<h1>All users</h1>
<%= form_tag(:action => :update_roles) do %>
<table>
<% @users.each  do |user| %>

  <tr>
    <td>
      <%= hidden_field_tag("user[]", user.id)%>
      <%=  user.email %>
    </td>
    <td>

    </td>
    <td>
      <% roles = UsersRole.find_by_user_id(user.id)  %>
       <%= roles.role.name %>
    </td>
    <td>
        <%= select_tag( "role[]" ,  "<option value = 2>User</option><option value = 1 >Admin</option>".html_safe)
        %>
    </td>
  </tr>

<% end %>
</table>
<%= submit_tag("Save changes") %>
<% end %>