
%h3{:align=>"center"} Результаты пользователя "#{@user.email}"
.table.table-hover
  %table{:align=>"center"}
    %tr
      %th
        %h4 Тест
      %th
        %h4 Количество балов
      %th
        %h4 Ответы лучшего результата
    - @results.each do |result|
      %tr
        - if Task.where(:id=> result.task_id).present?
          %td
            - @test = Task.find(result.task_id)
            = @test.title
          %td
            = result.bal
          %td
            = link_to "Просмотр", answer_result_admin_user_path(:t_id=>result.task_id), :class=>"btn btn-info btn-small"
  %div{:align=>"center"}
    %br
      = link_to('Назад', admin_users_path, :class => "btn btn-primary")