= form_for [:admin, @test] do |f|
  - if @test.errors.any?
    #error_explanation
      %h2
        = pluralize(@test.errors.count, "error")
        prohibited this test from being saved:
      %ul
        - @test.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label "Название теста"
    %br/
    = f.text_field :title
  .field
    = f.label "Описание теста"
    %br/
    = f.text_field :description
  .field
    = f.label "Количество попыток"
    %br/
    = f.number_field :kol_pop, :in => 1..10
  .field
    = f.label "Время прохождения"
    %br/
    = f.number_field :time, :min => 1
  .field
    = f.label "Сделать активным"
    %br/
    = f.check_box :active
  .actions
    = f.submit("Сохранить")
