<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @test.title %>
</p>

<p>
  <b>Kol pop:</b>
  <%= @test.kol_pop %>
</p>

<p>
  <b>Time:</b>
  <%= @test.time %>
</p>

<p>
  <b>Author:</b>
  <%= @test.author_id %>
</p>

<p>
  <b>Active:</b>
  <%= @test.active %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', adminpage_path %>
