%h3.page-header Приветствуем
.pull-left.container
  %h5
    - if @rezult.attempt < @test.kol_pop
      %p
        Здраствуйте. Вы выбрали тест #{@test.title}
      %p
        На его прохождение у вас есть #{@test.time} минут
      %p
        Мой друг попыток у тебя осталось всего навсего #{@test.kol_pop-@rezult.attempt}
      %p При начале прохождения его у вас снимется одна попытка
      = link_to "Начать тестиррование", {:controller => :quests, :action => :start, :id => 0 }, :class => "btn"
      = link_to "На главную", {:controller => :user, :action => :index}, :class => "btn"
    - else
      %p Уппссссс у вас закончились попытки))))
      = link_to "На главную", root_path, :class => "btn"