<!doctype html>
<html>
  <head>
    <script src="bootstrap.min.js"></script>
    <title>Testing SLOBODA</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap-responsive.css"> 
  </head>
  
  <body>
<div class="container">
<%= render 'shared/header' %>
<%= yield %>

</div>
</body>
</html>
